@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  /* -----------------------------------------
    Color 
  ----------------------------------------- */
  --color-*: initial;
  --color-slate-50: oklch(0.984 0.003 247.858);
  --color-slate-100: oklch(0.968 0.007 247.896);
  --color-slate-200: oklch(0.929 0.013 255.508);
  --color-slate-300: oklch(0.869 0.022 252.894);
  --color-slate-400: oklch(0.704 0.04 256.788);
  --color-slate-500: oklch(0.554 0.046 257.417);
  --color-slate-600: oklch(0.446 0.043 257.281);
  --color-slate-700: oklch(0.372 0.044 257.287);
  --color-slate-800: oklch(0.279 0.041 260.031);
  --color-slate-900: oklch(0.208 0.042 265.755);
  --color-slate-950: oklch(0.129 0.042 264.695);

  --color-pink-50: oklch(0.971 0.014 343.198);
  --color-pink-100: oklch(0.948 0.028 342.258);
  --color-pink-200: oklch(0.899 0.061 343.231);
  --color-pink-300: oklch(0.823 0.12 346.018);
  --color-pink-400: oklch(0.718 0.202 349.761);
  --color-pink-500: oklch(0.656 0.241 354.308);
  --color-pink-600: oklch(0.592 0.249 0.584);
  --color-pink-700: oklch(0.525 0.223 3.958);
  --color-pink-800: oklch(0.459 0.187 3.815);
  --color-pink-900: oklch(0.408 0.153 2.432);
  --color-pink-950: oklch(0.284 0.109 3.907);

  --color-violet-50: oklch(0.969 0.016 293.756);
  --color-violet-100: oklch(0.943 0.029 294.588);
  --color-violet-200: oklch(0.894 0.057 293.283);
  --color-violet-300: oklch(0.811 0.111 293.571);
  --color-violet-400: oklch(0.702 0.183 293.541);
  --color-violet-500: oklch(0.606 0.25 292.717);
  --color-violet-600: oklch(0.541 0.281 293.009);
  --color-violet-700: oklch(0.491 0.27 292.581);
  --color-violet-800: oklch(0.432 0.232 292.759);
  --color-violet-900: oklch(0.38 0.189 293.745);
  --color-violet-950: oklch(0.283 0.141 291.089);

  /* -----------------------------------------
    Typography 
  ----------------------------------------- */
  --font-*: initial;
  --font-poppins: Poppins, sans-serif;

  /* Font weight */
  --font-weight-*: initial;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --text-*: initial;

  /* h1 styles */
  --text-h1--font-family: var(--font-poppins);
  --text-h1--font-size: 48px;
  --text-h1--font-weight: var(--font-weight-bold);
  --text-h1--color: var(--color-slate-600);
  --text-h1--line-height: 125%;
  --text-h1--letter-spacing: 0px;

  /* h2 styles */
  --text-h2--font-family: var(--font-poppins);
  --text-h2--font-size: 40px;
  --text-h2--font-weight: var(--font-weight-bold);
  --text-h2--color: var(--color-slate-600);
  --text-h2--line-height: 125%;
  --text-h2--letter-spacing: 0px;

  /* h3 styles */
  --text-h3--font-family: var(--font-poppins);
  --text-h3--font-size: 32px;
  --text-h3--font-weight: var(--font-weight-semibold);
  --text-h3--color: var(--color-slate-600);
  --text-h3--line-height: 125%;
  --text-h3--letter-spacing: 0px;

  /* h4 styles */
  --text-h4--font-family: var(--font-poppins);
  --text-h4--font-size: 24px;
  --text-h4--font-weight: var(--font-weight-semibold);
  --text-h4--color: var(--color-slate-600);
  --text-h4--line-height: 125%;
  --text-h4--letter-spacing: 0px;

  /* p styles */
  --text-p-lg--font-family: var(--font-poppins);
  --text-p-lg--font-size: 24px;
  --text-p-lg--font-weight: var(--font-weight-medium);
  --text-p-lg--color: var(--color-slate-600);
  --text-p-lg--line-height: 145%;
  --text-p-lg--letter-spacing: 0px;
  --text-p-md--font-family: var(--font-poppins);
  --text-p-md--font-size: 18px;
  --text-p-md--font-weight: var(--font-weight-medium);
  --text-p-md--color: var(--color-slate-600);
  --text-p-md--line-height: 140%;
  --text-p-md--letter-spacing: 0px;

  /* label styles */
  --text-label-md--font-family: var(--font-poppins);
  --text-label-md--font-size: 16px;
  --text-label-md--font-weight: var(--font-weight-semibold);
  --text-label-md--color: var(--color-slate-600);
  --text-label-md--line-height: 100%;
  --text-label-md--letter-spacing: 0px;
  --text-label-lg--font-family: var(--font-poppins);
  --text-label-lg--font-size: 20px;
  --text-label-lg--font-weight: var(--font-weight-semibold);
  --text-label-lg--color: var(--color-slate-600);
  --text-label-lg--line-height: 100%;
  --text-label-lg--letter-spacing: 0px;
  --text-label-xl--font-family: var(--font-poppins);
  --text-label-xl--font-size: 24px;
  --text-label-xl--font-weight: var(--font-weight-semibold);
  --text-label-xl--color: var(--color-slate-600);
  --text-label-xl--line-height: 100%;
  --text-label-xl--letter-spacing: 0px;

  /* placeholder styles */
  --text-placeholder--font-family: var(--font-poppins);
  --text-placeholder--font-size: 16px;
  --text-placeholder--font-weight: var(--font-weight-medium);
  --text-placeholder--color: var(--color-slate-300);
  --text-placeholder--line-height: 100%;
  --text-placeholder--letter-spacing: 0px;
}

@layer base {
  h1 {
    font-family: var(--text-h1--font-family);
    font-size: var(--text-h1--font-size);
    font-weight: var(--text-h1--font-weight);
    color: var(--text-h1--color);
    line-height: var(--text-h1--line-height);
    letter-spacing: var(--text-h1--letter-spacing);
  }

  h2 {
    font-family: var(--text-h2--font-family);
    font-size: var(--text-h2--font-size);
    font-weight: var(--text-h2--font-weight);
    color: var(--text-h2--color);
    line-height: var(--text-h2--line-height);
    letter-spacing: var(--text-h2--letter-spacing);
  }

  h3 {
    font-family: var(--text-h3--font-family);
    font-size: var(--text-h3--font-size);
    font-weight: var(--text-h3--font-weight);
    color: var(--text-h3--color);
    line-height: var(--text-h3--line-height);
    letter-spacing: var(--text-h3--letter-spacing);
  }

  h4 {
    font-family: var(--text-h4--font-family);
    font-size: var(--text-h4--font-size);
    font-weight: var(--text-h4--font-weight);
    color: var(--text-h4--color);
    line-height: var(--text-h4--line-height);
    letter-spacing: var(--text-h4--letter-spacing);
  }

  p.size-lg {
    font-family: var(--text-p-lg--font-family);
    font-size: var(--text-p-lg--font-size);
    font-weight: var(--text-p-lg--font-weight);
    color: var(--text-p-lg--color);
    line-height: var(--text-p-lg--line-height);
    letter-spacing: var(--text-p-lg--letter-spacing);
  }

  p.size-md {
    font-family: var(--text-p-md--font-family);
    font-size: var(--text-p-md--font-size);
    font-weight: var(--text-p-md--font-weight);
    color: var(--text-p-md--color);
    line-height: var(--text-p-md--line-height);
    letter-spacing: var(--text-p-md--letter-spacing);
  }

  label.size-xl {
    font-family: var(--text-label-xl--font-family);
    font-size: var(--text-label-xl--font-size);
    font-weight: var(--text-label-xl--font-weight);
    color: var(--text-label-xl--color);
    line-height: var(--text-label-xl--line-height);
    letter-spacing: var(--text-label-xl--letter-spacing);
  }

  label.size-lg {
    font-family: var(--text-label-lg--font-family);
    font-size: var(--text-label-lg--font-size);
    font-weight: var(--text-label-lg--font-weight);
    color: var(--text-label-lg--color);
    line-height: var(--text-label-lg--line-height);
    letter-spacing: var(--text-label-lg--letter-spacing);
  }

  label.size-md {
    font-family: var(--text-label-md--font-family);
    font-size: var(--text-label-md--font-size);
    font-weight: var(--text-label-md--font-weight);
    color: var(--text-label-md--color);
    line-height: var(--text-label-md--line-height);
    letter-spacing: var(--text-label-md--letter-spacing);
  }

  .label-sm {
    font-family: var(--font-poppins);
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    color: var(--color-slate-600);
    line-height: 100%;
    letter-spacing: 0px;
  }

  span.placeholder {
    font-family: var(--text-placeholder--font-family);
    font-size: var(--text-placeholder--font-size);
    font-weight: var(--text-placeholder--font-weight);
    color: var(--text-placeholder--color);
    line-height: var(--text-placeholder--line-height);
    letter-spacing: var(--text-placeholder--letter-spacing);
  }
}
