@import "tailwindcss";
/* Explicit include of bg-* classes, so it can be dynamically displayed in Color documentation */
@source inline("bg-{slate,pink,violet}-{50,{100..900..100},950} bg-{white,black}");

@theme {
  /* -----------------------------------------
    Color 
  ----------------------------------------- */
  --color-*: initial;

  /* Base */
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  /* Slate */
  --color-slate-50: oklch(0.984 0.003 247.858);
  --color-slate-100: oklch(0.968 0.007 247.896);
  --color-slate-200: oklch(0.929 0.013 255.508);
  --color-slate-300: oklch(0.869 0.022 252.894);
  --color-slate-400: oklch(0.704 0.04 256.788);
  --color-slate-500: oklch(0.554 0.046 257.417);
  --color-slate-600: oklch(0.446 0.043 257.281);
  --color-slate-700: oklch(0.372 0.044 257.287);
  --color-slate-800: oklch(0.279 0.041 260.031);
  --color-slate-900: oklch(0.208 0.042 265.755);
  --color-slate-950: oklch(0.129 0.042 264.695);

  /* Pink */
  --color-pink-50: oklch(0.971 0.014 343.198);
  --color-pink-100: oklch(0.948 0.028 342.258);
  --color-pink-200: oklch(0.899 0.061 343.231);
  --color-pink-300: oklch(0.823 0.12 346.018);
  --color-pink-400: oklch(0.718 0.202 349.761);
  --color-pink-500: oklch(0.656 0.241 354.308);
  --color-pink-600: oklch(0.592 0.249 0.584);
  --color-pink-700: oklch(0.525 0.223 3.958);
  --color-pink-800: oklch(0.459 0.187 3.815);
  --color-pink-900: oklch(0.408 0.153 2.432);
  --color-pink-950: oklch(0.284 0.109 3.907);

  /* Violet */
  --color-violet-50: oklch(0.969 0.016 293.756);
  --color-violet-100: oklch(0.943 0.029 294.588);
  --color-violet-200: oklch(0.894 0.057 293.283);
  --color-violet-300: oklch(0.811 0.111 293.571);
  --color-violet-400: oklch(0.702 0.183 293.541);
  --color-violet-500: oklch(0.606 0.25 292.717);
  --color-violet-600: oklch(0.541 0.281 293.009);
  --color-violet-700: oklch(0.491 0.27 292.581);
  --color-violet-800: oklch(0.432 0.232 292.759);
  --color-violet-900: oklch(0.38 0.189 293.745);
  --color-violet-950: oklch(0.283 0.141 291.089);

  /* -----------------------------------------
    Spacing 
  ----------------------------------------- */
  --spacing-*: initial;
  --spacing: 4px;

  /* -----------------------------------------
    Typography 
  ----------------------------------------- */
  /* Font family */
  --font-*: initial;
  --font-poppins: Poppins, sans-serif;

  /* Font weight */
  --font-weight-*: initial;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Text */
  --text-*: initial;
}

@layer base {
  body {
    font-family: var(--font-poppins);
    color: var(--color-slate-600);
    letter-spacing: 0px;
  }
}

@layer components {
  /* -----------------------------------------
    Typography components
  ----------------------------------------- */
  .heading-1 {
    font-size: 48px;
    font-weight: var(--font-weight-bold);
    line-height: 125%;
  }

  .heading-2 {
    font-size: 40px;
    font-weight: var(--font-weight-bold);
    line-height: 125%;
  }

  .heading-3 {
    font-size: 32px;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
  }

  .heading-4 {
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 125%;
  }

  .paragraph-lg {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
    line-height: 145%;
  }

  .paragraph-md {
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    line-height: 140%;
  }

  .label-xl {
    font-size: 24px;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
  }

  .label-lg {
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
  }

  .label-md {
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
  }

  .label-sm {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    line-height: 100%;
  }

  .placeholder {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
    color: var(--color-slate-300);
    line-height: 100%;
  }

  /* -----------------------------------------
    Button 
  ----------------------------------------- */
  @keyframes dissolve {
    from {
      background: var(--btn-bg-from);
    }
    to {
      background: var(--btn-bg-to);
    }
  }

  .btn {
    border-radius: calc(var(--spacing) * 2);
    color: var(--color-white);
    background: var(--btn-bg-from);
  }

  .btn:hover,
  .btn:active {
    animation: dissolve 300ms ease-in-out;
  }

  .btn:hover {
    background: var(--btn-bg-to);
    border: calc(var(--spacing) * 0.75) solid var(--btn-border-color-hover);
  }

  .btn:active {
    background: var(--btn-bg-to);
    border: var(--spacing) solid var(--btn-border-color-active);
  }

  /* Sizes */
  .btn-md {
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 3);
    padding-right: calc(var(--spacing) * 3);
  }

  .btn-lg {
    padding-top: calc(var(--spacing) * 3);
    padding-bottom: calc(var(--spacing) * 3);
    padding-left: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
  }

  /* Primary variant */
  .btn-primary {
    --btn-bg-from: var(--color-slate-600);
    --btn-bg-to: var(--color-slate-700);
    --btn-border-color-hover: var(--color-slate-100);
    --btn-border-color-active: var(--color-slate-200);
  }

  /* Secondary variant */
  .btn-secondary {
    --btn-bg-from: var(--color-violet-600);
    --btn-bg-to: var(--color-violet-700);
    --btn-border-color-hover: var(--color-violet-100);
    --btn-border-color-active: var(--color-violet-200);
  }

  /* Tertiary variant */
  .btn-tertiary {
    --btn-bg-from: linear-gradient(
      to right,
      var(--color-pink-500),
      50%,
      var(--color-violet-600)
    );
    --btn-bg-to: linear-gradient(
      to right,
      var(--color-pink-500),
      30%,
      var(--color-violet-600)
    );
    --btn-border-color-hover: var(--color-violet-100);
    --btn-border-color-active: var(--color-violet-200);
  }
}
